.group{
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    align-items: center;
    color: aliceblue;
}
.timer{
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
.element{
    width: 45px;
    height: 25px;
    text-align: center;
    color: darkblue;
    margin: 0px -5px 20px -5px;
    background-color: #ccc;
    border-radius: 5px;
}
.End{
    width: 150px;
}